<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>Bookings · Project Herbie</title>
    <link href="../static/reset.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body class="page--{{ page }}">

    <div class="site-header">

        <div class="logo">
            <a href="/">
                <img src="/static/img/logo-pure-white.png" alt="Project Herbie logo" />
            </a>
        </div>

        <menu>
            <ul class="menu">
                <li><a href="/account">Account</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </menu>

    </div>

    <main>

        <div class="sidebar">

        </div>

        <div class="panel panel--booking">
            <div class="panel__title">
                <h2>Bookings</h2>
            </div>
            <div class="panel__content">
                {% include "./components/calendar.cmp.html" %}
            </div>
        </div>

    </main>

    <footer>
        <p>
            Made with ♥ by Team 6
        </p>
    </footer>

</body>
</html>