<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{{ title }} · Project Herbie</title>
    <link href="../static/reset.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
</head>
<body class="page--{{ page }}">

    <div class="site-header">

        <div class="logo">
            <a href="/">
                <img src="/static/img/logo-pure-white.png" alt="Project Herbie logo" />
            </a>
        </div>

        <menu>
            <ul class="menu">
                <li><a href="/account">Account</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </menu>

    </div>

    <main>

        <div class="sidebar">

            <div class="panel panel--next-booking">

                <div class="panel__title">
                    <h2>Your next booking</h2>
                </div>

                <div class="panel__content">

                    {# TODO needs an attr to output badge colour in css #}
                    <article class="next-booking badge--{{ v['colour'] }}">

                        <header>
                            <div class="next-booking__photo">
                                <img src="#" alt="Profile photo of Scott Cummins"/>
                            </div>
                            <div class="next-booking__name">
                                <h3>
                                    {{ v['user']['first_name'] }}<br />
                                    {{ v['user']['last_name'] }}
                                </h3>
                            </div>
                        </header>

                        <dl>
                            <dt>Role</dt>
                            <dd>Employee</dd>

                            <dt>Employee</dt>
                            <dd>05712857-85</dd>

                            <dt>Date</dt>
                            <dd>{{ v['first_booking']['date'] }}</dd>

                            <dt>Time</dt>
                            <dd>{{ v['first_booking']['start_time'] }}—{{ v['first_booking']['end_time'] }}</dd>

                            <dt>Space No.</dt>
                            <dd>368</dd>  {# TODO add spaces to templatae #}
                        </dl>

                    </article>

                </div>

            </div>

            <div class="panel">

                <div class="panel__title">
                    <h2>Your Park & Ride dates</h2>
                </div>

                <div class="panel__content">
                    <p>
                        As a <em>Red-Badge</em> holder, your Park & Ride dates are:
                    </p>
                    {% for park_and_ride in v['park_and_ride_dates'] %}
                    <blockquote>
                        {{ park_and_ride['start'] }} to {{ park_and_ride['end'] }}
                    </blockquote>
                    {% endfor %}
                    <p>
                        You will not be able to book parking at our facilities on these dates.
                    </p>
                </div>
            </div>

        </div>

        {% if page == "dashboard" or page == "booking" %}
        <div class="panel panel--booking">
            <div class="panel__title">
                <h2>Bookings</h2>
            </div>
            <div class="panel__content">
                {% include "./components/calendar.cmp.html" %}
            </div>
        </div>
        {% endif %}

        {% if page != "licenses" %}
        <div class="panel panel--licenses">
            <div class="panel__title">
                <h2>Licenses</h2>
            </div>
            <div class="panel__content">
                <p>
                    All work that isn't in the public domain or free for personal use is credited here.
                </p>
                <ul>
                    <li><a href='https://www.flaticon.com/free-icon/volkswagen-beetle_83631'>Volkswagen Beetle</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

    </main>

    <footer>
        <p>
            Made with ♥ by Team 6
        </p>
    </footer>

</body>
</html>