<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{{ title }} · Project Herbie</title>
    <link href="../static/reset.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body class="page--{{ page }}">

    <div class="site-header">

        <div class="logo">
            <a href="/">
                <img src="/static/img/logo-pure-white.png" alt="Project Herbie logo" />
            </a>
        </div>

        <menu>
            <ul class="menu">
                <li><a href="/account">Account</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </menu>

    </div>

    <main>

        {% if page == "dashboard" or page == "booking" %}
        <div class="panel panel--booking">
            <div class="panel__title">
                <h2>Bookings</h2>
            </div>
            <!-- bookings calendar goes here -->
        </div>
        {% endif %}

        {% if page == "licenses" %}
        <div class="panel panel--licenses">
            <div class="panel__title">
                <h2>Licenses</h2>
            </div>
            <div class="panel__content">
                <p>
                    All work that isn't in the public domain or free for personal use is credited here.
                </p>
                <ul>
                    <li><a href='https://www.flaticon.com/free-icon/volkswagen-beetle_83631'>Volkswagen Beetle</a></li>
                </ul>
            </div>
        </div>
        {% endif %}

        <div class="sidebar">

            <div class="panel">
                <div class="panel__title">
                  <h2>Your Park & Ride dates</h2>
                </div>
                <div class="panel__content">
                    <p>
                        As a <em>Red-Badge</em> holder, your Park & Ride dates are:
                    </p>
                    <blockquote>
                        16th—26th September, 2019
                    </blockquote>
                    <p>
                        You will not be able to book parking at our facilities on these dates.
                    </p>
                </div>
            </div>

        </div>

    </main>

</body>
</html>