<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no" />
    <title>{{ title }} · Project Herbie</title>
    <link href="../static/reset.css" rel="stylesheet" />
    <link href="../static/main.css" rel="stylesheet" />
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:400,700" rel="stylesheet">
</head>
<body class="page--{{ page }}">

    <div class="site-header">

        <div class="logo">
            <img src="/static/img/logo-white.png" alt="Project Herbie logo" />
        </div>

        <menu>
            <ul class="menu">
                <li><a href="/account">Account</a></li>
                <li><a href="/bookings">Bookings</a></li>
            </ul>
        </menu>

    </div>

    <main>

        {% if page == "dashboard" or page == "booking" %}
        <div class="panel panel--booking">
            <h2>Bookings</h2>
            <!-- bookings calendar goes here -->
        </div>
        {% endif %}

        {% if page == "licenses" %}
        <div class="panel panel--licenses">
            <h2>Licenses</h2>
            <p>
                All work that isn't in the public domain or free for personal use is credited here.
            </p>
            <ul>
                <li><a href='https://www.flaticon.com/free-icon/volkswagen-beetle_83631'>Volkswagen Beetle</a></li>
            </ul>
        </div>
        {% endif %}

    </main>

    <div class="sidebar">

        <div class="panel">
            <h2>Park and Ride dates</h2>
            <p>16th – 26th Sept</p>
        </div>

    </div>

</body>
</html>