<table>

    <thead>
        <tr>
            <th>Mon</th>
            <th>Tue</th>
            <th>Wed</th>
            <th>Thu</th>
            <th>Fri</th>
        </tr>
    </thead>

    <tbody>

        <tr>
            <td>
                <div class="day-wrapper">
                    <div class="booked-event" data-start-time="8" data-end-time="3">
                        8am – 3pm
                    </div>
                </div>
            </td>
            <td>
                <div class="day-wrapper">

                </div>
            </td>
            <td>
                <div class="day-wrapper">

                </div>
            </td>
            <td>
                <div class="day-wrapper">

                </div>
            </td>
            <td>
                <div class="day-wrapper">

                </div>
            </td>
        </tr>

    </tbody>

</table>

<script>

    document.querySelector(".booked-event")

</script>